<?xml version="1.0"?>
<arcane-config code-name="Mahyco">  
  <time-loops>  
    <time-loop name="MahycoLoop">
      <title>Mahyco</title>
      <description>Boucle en temps de l''exemple Arcane Mahyco</description>

      <singleton-services>
	<service name="AccEnvDefault" need="required" />
      </singleton-services>
      
      <modules>
	<module name="Mahyco" need="required" />
	<module name="ArcanePostProcessing" need="required" />
	<module name="ArcaneCheckpoint" need="required" />
	<module name="AccEnv" need="required" />
      </modules>

      <entry-points where="build">
	<entry-point name="AccEnv.PAccBuild" />
	<entry-point name="Mahyco.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="AccEnv.StartInstrument" />

	<entry-point name="Mahyco.CheckOptions" />  <!-- start-init -->

	<entry-point name="Mahyco.InitCartesianMesh" />  <!-- init -->
	<entry-point name="AccEnv.InitMesh" />           <!-- init -->

	<entry-point name="Mahyco.AllocCqs" />      <!-- start-init -->
	<entry-point name="Mahyco.InitDtIni" />     <!-- start-init -->
	<entry-point name="Mahyco.ContinueForIterationDt" /> <!-- continue-init -->

	<entry-point name="Mahyco.HydroStartInitEnvAndMat" />   <!-- start-init -->
	<entry-point name="Mahyco.ContinueForMultiMat" />    <!-- continue-init -->
	<entry-point name="AccEnv.InitMultiEnv" />       <!-- init -->
	<entry-point name="Mahyco.InitEnvForAcc" />      <!-- init -->

	<entry-point name="Mahyco.ComputeGeometricValuesIni" /> <!-- start-init -->
	<entry-point name="Mahyco.PrepareFaceGroupForBc" />     <!-- start-init -->

	<entry-point name="Mahyco.InitBoundaryConditionsForAcc" />  <!-- init -->

	<entry-point name="Mahyco.InitHydroVar" />            <!-- start-init -->
	<entry-point name="Mahyco.SetSyncVarVers" />          <!-- start-init -->
	<entry-point name="Mahyco.ComputeCellMass" />         <!-- start-init -->
	<entry-point name="Mahyco.ComputeNodeMass" />	      <!-- start-init -->

      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Mahyco.SaveValuesAtN" />
	<entry-point name="Mahyco.UpdateVelocity" />
	<entry-point name="Mahyco.ApplyBoundaryCondition" />
	<entry-point name="Mahyco.UpdatePosition" />
	<entry-point name="Mahyco.ComputeGeometricValues" />
	<entry-point name="Mahyco.UpdateDensity" />
    <entry-point name="Mahyco.ComputeArtificialViscosity" />
	<entry-point name="Mahyco.UpdateEnergyAndPressure" />
	<entry-point name="Mahyco.Remap" />
	<entry-point name="Mahyco.ComputeDeltaT" />
      </entry-points>
    </time-loop>
    
    <time-loop name="MahycoLagrangeLoop">
      <title>Mahyco</title>
      <description>Boucle en temps de l''exemple Arcane Mahyco</description>

      <singleton-services>
	<service name="AccEnvDefault" need="required" />
      </singleton-services>
 
      <modules>
	<module name="Mahyco" need="required" />
	<module name="ArcanePostProcessing" need="required" />
	<module name="ArcaneCheckpoint" need="required" />
	<module name="AccEnv" need="required" />
      </modules>

      <entry-points where="build">
	<entry-point name="AccEnv.PAccBuild" />
	<entry-point name="Mahyco.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="AccEnv.StartInstrument" />

	<entry-point name="Mahyco.CheckOptions" />  <!-- start-init -->

	<entry-point name="Mahyco.InitCartesianMesh" />  <!-- init -->
	<entry-point name="AccEnv.InitMesh" />           <!-- init -->

	<entry-point name="Mahyco.AllocCqs" />      <!-- start-init -->
	<entry-point name="Mahyco.InitDtIni" />     <!-- start-init -->
	<entry-point name="Mahyco.ContinueForIterationDt" /> <!-- continue-init -->

	<entry-point name="Mahyco.HydroStartInitEnvAndMat" />   <!-- start-init -->
	<entry-point name="Mahyco.ContinueForMultiMat" />    <!-- continue-init -->
	<entry-point name="AccEnv.InitMultiEnv" />       <!-- init -->
	<entry-point name="Mahyco.InitEnvForAcc" />      <!-- init -->

	<entry-point name="Mahyco.ComputeGeometricValuesIni" /> <!-- start-init -->
	<entry-point name="Mahyco.PrepareFaceGroupForBc" />     <!-- start-init -->

	<entry-point name="Mahyco.InitBoundaryConditionsForAcc" />  <!-- init -->

	<entry-point name="Mahyco.InitHydroVar" />            <!-- start-init -->
	<entry-point name="Mahyco.SetSyncVarVers" />          <!-- start-init -->
	<entry-point name="Mahyco.ComputeCellMass" />         <!-- start-init -->
	<entry-point name="Mahyco.ComputeNodeMass" />	      <!-- start-init -->

      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Mahyco.SaveValuesAtN" />
	<entry-point name="Mahyco.UpdateVelocity" />
	<entry-point name="Mahyco.ApplyBoundaryCondition" />
	<entry-point name="Mahyco.UpdatePosition" />
	<entry-point name="Mahyco.ComputeGeometricValues" />
	<entry-point name="Mahyco.UpdateDensity" />
    <entry-point name="Mahyco.ComputeArtificialViscosity" />
	<entry-point name="Mahyco.UpdateEnergyAndPressure" />
	<entry-point name="Mahyco.ComputeDeltaT" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
