<?xml version="1.0"?>
<arcane-config code-name="Mahyco">  
  <time-loops>  
    <time-loop name="MahycoLoop">
      <title>Mahyco</title>
      <description>Boucle en temps de l''exemple Arcane Mahyco</description>

      <singleton-services>
	<service name="AccEnvDefault" need="required" />
      </singleton-services>
      
      <modules>
	<module name="Mahyco" need="required" />
	<module name="ArcanePostProcessing" need="required" />
	<module name="ArcaneCheckpoint" need="required" />
      </modules>

      <entry-points where="build">
	<entry-point name="Mahyco.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="Mahyco.HydroStartInit" />
	<entry-point name="Mahyco.HydroContinueInit" />
	<entry-point name="Mahyco.PrepareFaceGroup" />
	<entry-point name="Mahyco.ComputeCellMass" />
	<entry-point name="Mahyco.ComputeNodeMass" />	
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Mahyco.SaveValuesAtN" />
	<entry-point name="Mahyco.UpdateVelocity" />
	<entry-point name="Mahyco.ApplyBoundaryCondition" />
	<entry-point name="Mahyco.UpdatePosition" />
	<entry-point name="Mahyco.ComputeGeometricValues" />
	<entry-point name="Mahyco.UpdateDensity" />
    <entry-point name="Mahyco.ComputeArtificialViscosity" />
	<entry-point name="Mahyco.UpdateEnergyAndPressure" />
	<entry-point name="Mahyco.Remap" />
	<entry-point name="Mahyco.ComputeDeltaT" />
      </entry-points>
    </time-loop>
    <time-loop name="MahycoLagrangeLoop">
      <title>Mahyco</title>
      <description>Boucle en temps de l''exemple Arcane Mahyco</description>

      <singleton-services>
	<service name="AccEnvDefault" need="required" />
      </singleton-services>
 
      <modules>
	<module name="Mahyco" need="required" />
	<module name="ArcanePostProcessing" need="required" />
	<module name="ArcaneCheckpoint" need="required" />
      </modules>

      <entry-points where="build">
	<entry-point name="Mahyco.AccBuild" />
      </entry-points>

      <entry-points where="init">
	<entry-point name="Mahyco.HydroStartInit" />
	<entry-point name="Mahyco.HydroContinueInit" />
	<entry-point name="Mahyco.PrepareFaceGroup" />
	<entry-point name="Mahyco.ComputeCellMass" />
	<entry-point name="Mahyco.ComputeNodeMass" />	
      </entry-points>

      <entry-points where="compute-loop">
	<entry-point name="Mahyco.SaveValuesAtN" />
	<entry-point name="Mahyco.UpdateVelocity" />
	<entry-point name="Mahyco.ApplyBoundaryCondition" />
	<entry-point name="Mahyco.UpdatePosition" />
	<entry-point name="Mahyco.ComputeGeometricValues" />
	<entry-point name="Mahyco.UpdateDensity" />
    <entry-point name="Mahyco.ComputeArtificialViscosity" />
	<entry-point name="Mahyco.UpdateEnergyAndPressure" />
	<entry-point name="Mahyco.ComputeDeltaT" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
